TASK 2 – TRUY VẤN & THỐNG KÊ MÔ TẢ

1. Mục tiêu Task 2

Thực hành truy vấn dữ liệu bằng Pandas

Rút ra các thống kê mô tả cơ bản phục vụ phân tích tuyển dụng

Phát hiện các vấn đề trong quy trình phỏng vấn và đề nghị lương

2. Đọc dữ liệu sạch

In [1]:
import pandas as pd

df_candidate = pd.read_csv("data_clean/candidate_profile_clean.csv")
df_interview = pd.read_csv("data_clean/interview_score_clean.csv")
df_salary = pd.read_csv("data_clean/salary_offer_clean.csv")

3. Thống kê số ứng viên theo từng vị trí tuyển

Yêu cầu

Thống kê số ứng viên theo từng vị trí tuyển

In [2]:
candidate_by_position = (
    df_salary.groupby("position")["candidate_id"]
    .nunique()
    .reset_index(name="num_candidates")
)

candidate_by_position

           position  num_candidates
0      Data Analyst              14
1               Dev               2
2        Python Dev               5
3  Python Developer               4

4. Tìm ứng viên thiếu điểm phỏng vấn
Yêu cầu

Tìm ứng viên thiếu điểm phỏng vấn

In [3]:
missing_score = df_interview[df_interview["score"].isna()]

missing_score

   candidate_id  round  score
1         UV100      2    NaN
2         UV100      3    NaN
6         UV102      1    NaN
8         UV102      3    NaN
10        UV103      2    NaN
18        UV106      1    NaN
21        UV107      1    NaN
24        UV108      1    NaN
30        UV110      1    NaN
32        UV110      3    NaN
33        UV111      1    NaN
34        UV111      2    NaN
35        UV111      3    NaN
37        UV112      2    NaN
42        UV114      1    NaN
47        UV115      3    NaN
50        UV116      3    NaN
51        UV117      1    NaN
52        UV117      2    NaN
53        UV117      3    NaN
55        UV118      2    NaN
56        UV118      3    NaN
57        UV119      1    NaN
60        UV120      1    NaN
62        UV120      3    NaN
64        UV121      2    NaN
65        UV121      3    NaN
68        UV122      3    NaN

5. Tính điểm trung bình theo vòng phỏng vấn
Yêu cầu

Tính điểm trung bình theo vòng

In [4]:
avg_score_by_round = (
    df_interview.groupby("round")["score"]
    .mean()
    .reset_index(name="avg_score")
)

avg_score_by_round

   round  avg_score
0      1   7.266667
1      2   6.333333
2      3   7.071429

6. Tìm ứng viên có kinh nghiệm nhưng điểm thấp
Định nghĩa hợp lý (ghi rõ trong notebook)

Kinh nghiệm ≥ 3 năm

Điểm phỏng vấn < 6

In [5]:
# Tính điểm trung bình theo ứng viên
avg_score_candidate = (
    df_interview.groupby("candidate_id")["score"]
    .mean()
    .reset_index(name="avg_score")
)

# Merge với kinh nghiệm
candidate_score = avg_score_candidate.merge(
    df_candidate,
    on="candidate_id",
    how="left"
)

low_score_exp = candidate_score[
    (candidate_score["experience_years"] >= 3) &
    (candidate_score["avg_score"] < 6)
]

low_score_exp

   candidate_id  avg_score   full_name  experience_years
10        UV110        5.0  Tran Thi B               3.0

7. Thống kê số ứng viên có đề nghị lương
Yêu cầu

Thống kê số ứng viên có đề nghị lương

In [6]:
num_offer = df_salary["candidate_id"].nunique()

num_offer

25