TASK 1 ‚Äì ƒê·ªåC & L√ÄM S·∫†CH D·ªÆ LI·ªÜU

Import th∆∞ vi·ªán c·∫ßn thi·∫øt

In [13]:
# S·ª≠ d·ª•ng pandas ƒë·ªÉ x·ª≠ l√Ω d·ªØ li·ªáu d·∫°ng b·∫£ng
import pandas as pd

ƒê·ªçc d·ªØ li·ªáu g·ªëc

In [15]:



# ƒê·ªçc d·ªØ li·ªáu g·ªëc
df_candidate = pd.read_csv("../data_raw/candidate_profile.csv")
df_interview = pd.read_csv("../data_raw/interview_score.csv")
df_salary = pd.read_csv("../data_raw/salary_offer.csv")

# Ki·ªÉm tra nhanh d·ªØ li·ªáu ban ƒë·∫ßu
df_candidate.head()
df_interview.head()
df_salary.head()

  candidate_id offer_salary            position
0        UV100     15000000        Data Analyst
1        uv101         20tr       data analyst
2        UV102    25000000        data analyst
3        uv103     15000000   python developer
4        UV104     15000000       DAta  ANalyst

L√†m s·∫°ch b·∫£ng candidate_profile

In [16]:
# L√†m s·∫°ch candidate_id: chuy·ªÉn sang chu·ªói, lo·∫°i b·ªè kho·∫£ng tr·∫Øng, vi·∫øt hoa
df_candidate["candidate_id"] = (
    df_candidate["candidate_id"]
    .astype(str)
    .str.strip()
    .str.upper()
)

# L√†m s·∫°ch full_name: lo·∫°i b·ªè kho·∫£ng tr·∫Øng d∆∞, chu·∫©n h√≥a ch·ªØ c√°i ƒë·∫ßu
df_candidate["full_name"] = (
    df_candidate["full_name"]
    .astype(str)
    .str.strip()
    .str.replace(r"\s+", " ", regex=True)
    .str.title()
)

# Chuy·ªÉn experience_years v·ªÅ d·∫°ng s·ªë
df_candidate["experience_years"] = pd.to_numeric(
    df_candidate["experience_years"],
    errors="coerce"
)

# C√°c gi√° tr·ªã kinh nghi·ªám √¢m ƒë∆∞·ª£c xem l√† kh√¥ng h·ª£p l·ªá
df_candidate.loc[
    df_candidate["experience_years"] < 0,
    "experience_years"
] = pd.NA

# Ki·ªÉm tra d·ªØ li·ªáu sau l√†m s·∫°ch
df_candidate.isna().sum()

candidate_id         0
full_name            0
experience_years    10
dtype: int64

L√†m s·∫°ch b·∫£ng interview_score

In [17]:
# Chu·∫©n h√≥a candidate_id
df_interview["candidate_id"] = (
    df_interview["candidate_id"]
    .astype(str)
    .str.strip()
    .str.upper()
)

# Chu·∫©n h√≥a round v·ªÅ d·∫°ng s·ªë nguy√™n
df_interview["round"] = pd.to_numeric(
    df_interview["round"],
    errors="coerce"
)

# Chu·∫©n h√≥a score v·ªÅ d·∫°ng s·ªë
df_interview["score"] = pd.to_numeric(
    df_interview["score"],
    errors="coerce"
)

# Ch·ªâ gi·ªØ score trong kho·∫£ng h·ª£p l·ªá 0‚Äì10
df_interview.loc[
    (df_interview["score"] < 0) | (df_interview["score"] > 10),
    "score"
] = pd.NA

df_interview.head()

  candidate_id  round  score
0        UV100      1    9.0
1        UV100      2    NaN
2        UV100      3    NaN
3        UV101      1    9.0
4        UV101      2    7.0

L√†m s·∫°ch b·∫£ng salary_offer

In [18]:
# Chu·∫©n h√≥a candidate_id
df_salary["candidate_id"] = (
    df_salary["candidate_id"]
    .astype(str)
    .str.strip()
    .str.upper()
)

# L√†m s·∫°ch offer_salary
def clean_salary(x):
    if pd.isna(x):
        return pd.NA
    x = str(x).lower().strip()
    if "tr" in x:
        return float(x.replace("tr", "")) * 1_000_000
    return pd.to_numeric(x, errors="coerce")

df_salary["offer_salary"] = df_salary["offer_salary"].apply(clean_salary)

# Chu·∫©n h√≥a position
df_salary["position"] = (
    df_salary["position"]
    .astype(str)
    .str.strip()
    .str.replace(r"\s+", " ", regex=True)
    .str.title()
)

df_salary.head()

  candidate_id offer_salary          position
0        UV100     15000000      Data Analyst
1        UV101   20000000.0      Data Analyst
2        UV102     25000000      Data Analyst
3        UV103     15000000  Python Developer
4        UV104     15000000      Data Analyst

üîπ Xu·∫•t d·ªØ li·ªáu s·∫°ch

In [19]:

df_candidate.to_csv(
    "../data_clean/candidate_profile_clean.csv",
    index=False
)

df_interview.to_csv(
    "../data_clean/interview_score_clean.csv",
    index=False
)

df_salary.to_csv(
    "../data_clean/salary_offer_clean.csv",
    index=False
)

print("ƒê√£ xu·∫•t xong 3 file d·ªØ li·ªáu s·∫°ch.")

ƒê√£ xu·∫•t xong 3 file d·ªØ li·ªáu s·∫°ch.

Sau khi l√†m s·∫°ch, d·ªØ li·ªáu ƒë√£ ƒë∆∞·ª£c chu·∫©n h√≥a v·ªÅ ƒë·ªãnh d·∫°ng v√† lo·∫°i b·ªè c√°c gi√° tr·ªã kh√¥ng h·ª£p l·ªá. C√°c file d·ªØ li·ªáu s·∫°ch ƒë∆∞·ª£c s·ª≠ d·ª•ng l√†m ƒë·∫ßu v√†o cho c√°c nhi·ªám v·ª• ph√¢n t√≠ch ti·∫øp theo.