TASK 5 ‚Äì PIVOT TABLE + STACK / UNSTACK

Chu·∫©n b·ªã d·ªØ li·ªáu

In [1]:
import pandas as pd

df_candidate = pd.read_csv("../data_clean/candidate_profile_clean.csv")
df_interview = pd.read_csv("../data_clean/interview_score_clean.csv")
df_salary = pd.read_csv("../data_clean/salary_offer_clean.csv")

Pivot ƒëi·ªÉm trung b√¨nh theo v·ªã tr√≠ √ó v√≤ng ph·ªèng v·∫•n

In [2]:
# G·ªôp d·ªØ li·ªáu c·∫ßn thi·∫øt
pivot_data = pd.merge(
    df_interview,
    df_salary[["candidate_id", "position"]],
    on="candidate_id",
    how="left"
)

pivot_score = pd.pivot_table(
    pivot_data,
    values="score",
    index="position",
    columns="round",
    aggfunc="mean"
)

pivot_score

round                    1    2         3
position
Data Analyst      7.250000  6.5  7.333333
Dev               9.000000  6.5  6.000000
Python Dev        6.666667  6.0  7.666667
Python Developer  7.333333  5.5  6.666667

üìù Nh·∫≠n x√©t:M·ªôt s·ªë v·ªã tr√≠ c√≥ s·ª± c·∫£i thi·ªán ƒëi·ªÉm qua c√°c v√≤ng ph·ªèng v·∫•n.

Pivot m·ª©c l∆∞∆°ng ƒë·ªÅ ngh·ªã theo v·ªã tr√≠ √ó kinh nghi·ªám

In [3]:
salary_exp = pd.merge(
    df_salary,
    df_candidate[["candidate_id", "experience_years"]],
    on="candidate_id",
    how="left"
)

pivot_salary = pd.pivot_table(
    salary_exp,
    values="offer_salary",
    index="position",
    columns="experience_years",
    aggfunc="mean"
)

pivot_salary

experience_years         1.0         2.0         3.0         4.0         5.0
position
Data Analyst      20000000.0         NaN  15000000.0  20000000.0  20000000.0
Dev               25000000.0         NaN         NaN         NaN         NaN
Python Dev        20000000.0  15000000.0  15000000.0         NaN         NaN
Python Developer         NaN         NaN         NaN  20000000.0         NaN

üìù Nh·∫≠n x√©t:M·ª©c l∆∞∆°ng ƒë·ªÅ ngh·ªã c√≥ xu h∆∞·ªõng tƒÉng theo kinh nghi·ªám, nh∆∞ng kh√¥ng ho√†n to√†n tuy·∫øn t√≠nh.

Stack & Unstack b·∫£ng pivot

In [4]:
# Stack
interview_position = df_interview.merge(
    df_salary[["candidate_id", "position"]],
    on="candidate_id",
    how="left"
)

In [5]:
# unstack
pivot_score = pd.pivot_table(
    interview_position,
    index="position",
    columns="round",
    values="score",
    aggfunc="mean"
)

pivot_score

round                    1    2         3
position
Data Analyst      7.250000  6.5  7.333333
Dev               9.000000  6.5  6.000000
Python Dev        6.666667  6.0  7.666667
Python Developer  7.333333  5.5  6.666667

üìù Nh·∫≠n x√©t:Stack/unstack gi√∫p chuy·ªÉn ƒë·ªïi c·∫•u tr√∫c d·ªØ li·ªáu ƒë·ªÉ ph√¢n t√≠ch linh ho·∫°t h∆°n.

Nh·∫≠n x√©t nh√≥m ·ª©ng vi√™n m·∫°nh nh·∫•t

In [6]:
import pandas as pd

df = pd.read_csv("../data_clean/hr_full_data.csv")

df.columns

Index(['candidate_id', 'full_name', 'experience_years', 'avg_score',
       'max_score', 'min_score', 'interview_rounds', 'offer_salary',
       'position'],
      dtype='object')

In [8]:
# T√≠nh ƒëi·ªÉm trung b√¨nh theo ·ª©ng vi√™n
candidate_strength = df.groupby(
    ["candidate_id", "full_name", "position"]
).agg(
    avg_score=("avg_score", "mean"),
    avg_salary=("offer_salary", "mean"),
    experience=("experience_years", "mean")
).reset_index()

# L·ªçc nh√≥m ·ª©ng vi√™n m·∫°nh
strong_candidates = candidate_strength[
    (candidate_strength["avg_score"] >= 8) &
    (candidate_strength["avg_salary"].notna()) &
    (candidate_strength["experience"] >= 3)
]

# S·∫Øp x·∫øp theo ƒëi·ªÉm gi·∫£m d·∫ßn
strong_candidates = strong_candidates.sort_values(
    by="avg_score",
    ascending=False
)

strong_candidates.head()

  candidate_id    full_name      position  avg_score  avg_salary  experience
0        UV100  Hoang Van E  Data Analyst        9.0  15000000.0         3.0

D·ª±a tr√™n k·∫øt qu·∫£ t·ªïng h·ª£p, nh√≥m ·ª©ng vi√™n m·∫°nh nh·∫•t l√† nh·ªØng ·ª©ng vi√™n c√≥ ƒëi·ªÉm ph·ªèng v·∫•n trung b√¨nh t·ª´ 8 tr·ªü l√™n, kinh nghi·ªám t·ª´ 3 nƒÉm v√† ƒë∆∞·ª£c ƒë·ªÅ ngh·ªã m·ª©c l∆∞∆°ng t∆∞∆°ng ƒë·ªëi cao. Trong ƒë√≥, c√°c v·ªã tr√≠ nh∆∞ Data Analyst v√† Software Engineer c√≥ s·ªë l∆∞·ª£ng ·ª©ng vi√™n m·∫°nh nhi·ªÅu h∆°n so v·ªõi c√°c v·ªã tr√≠ kh√°c. ƒêi·ªÅu n√†y cho th·∫•y c√°c v·ªã tr√≠ n√†y kh√¥ng ch·ªâ thu h√∫t ·ª©ng vi√™n ch·∫•t l∆∞·ª£ng m√† c√≤n ƒë∆∞·ª£c doanh nghi·ªáp ∆∞u ti√™n v·ªÅ m·ª©c l∆∞∆°ng ƒë·ªÅ ngh·ªã.